<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style>
    .boxes {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: flex;
        justify-content: space-between;
    }

    .c1 {
        background-color: green;
    }
    .c2 {
        background-color: yellow;
    }
    .c3 {
        background-color: red;
    }
    .rotate {
        transform: rotate(45deg);
    }
</style>

<div id="app">
    <div class="boxes">
        <div class="demo" :class="style1" @click="applyC1 = !applyC1"></div>
        <div class="demo" :class="{c1: applyC1, c2: !applyC1 }" @click="applyC1 = !applyC1"></div>
        <div class="demo" :class="classCSS"></div>
        <div class="demo" :class="[classCSS, {rotate:applyRotate}]"></div>
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="[myStyle, {height: myHeight}]"></div>

    </div>
    <hr>
    <label for="">Class Name</label>
    <input type="text" v-model="classCSS">
    <label for="">Color</label>
    <input type="text" v-model="color">
    <label for="">Width</label>
    <input type="text" v-model="myWidth">
    <label for="">Height</label>
    <input type="text" v-model="myHeight">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            applyC1: false,
            classCSS: 'c1',
            applyRotate: true,
            color: 'red',
            myWidth: 50,
            myHeight: 20
        }, computed: {
            style1() {
                return {
                    c1: this.applyC1, 
                    c2: !this.applyC1
                 }
            },
            myStyle(){
                return {
                    backgroundColor: this.color,
                    width: this.myWidth + 'px'
                }
            }
        }
    })
</script>